* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 748px;
    width: 748px;
}
.mondrian {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
}